<div class="ui center aligned raised very padded text container segment">
  <h1>Editing Trade Offer</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @trade_offer %> |
  <%= link_to 'Back', trade_offers_path %>
</div>
