<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <h1>Welcome to Grow and Swap</h1>
    </h1>
    <h2>A resource to locally trade your produce.</h2>
  </div>
</div>
<div>
