<div class="ui inverted vertical masthead center aligned green segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <h1>Welcome to Grow and Swap</h1>
    </h1>
    <h2>A resource to locally trade your produce.</h2>
  </div>
</div>

<div class="ui center aligned container">
  <%= link_to "Browse garden items in your area", garden_items_path %>

  <br>

  <% if logged_in? %>
    <%= link_to "My trade offers", trade_offers_path %>

    <br>

    <%= link_to "View produce items inventory", produce_items_path %>
  <% end %>
</div>
